<link rel="stylesheet" href="../../../../../css/style.css" />
<div class="container">
    <h6>Status history</h6>
                        {{#if hasStatusHistory}}
                        <table class="table table-striped table-hover" id="treatment-table" style="background-color: #ffffff">
                            <thead>
                                <tr>
                                    {{!-- <th scope="col">#</th> --}}
                                    <th scope="col">Person ID</th>
                                    <th scope="col">Person Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each status_history}}
                                <tr>
                                    {{!-- <th scope="row">{{treatment_history_id}}</th> --}}
                                    <td>{{this.person_id}}</td>
                                    <td>{{this.full_name}}</td>
                                    <td>{{this.status}}</td>
                                    <td>{{this.time}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}
                        (blank)
                        {{/if}}
</div>