<div class="mt-4">
    <h3>Indept</h3>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                {{!-- <th scope="col">#</th> --}}
                <th scope="col">Indept</th>
                <th scope="col">Due Date</th>
                <th scope="col">Minimum Pay</th>
            </tr>
        </thead>
        <tbody>
            {{#each indepts}}
            {{#if this.state}}
            {{else}}
            <tr>
                {{!-- <th scope="row">{{indept.indept_id}}</th> --}}
                <td>{{this.indept}}</td>
                <td>{{this.due_date}}</td>
                <td>{{this.minimum_pay}}</td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>

</div>