<div class="container container-details">
    <div style="text-align: center; margin-bottom: 20px;">
        <h2><b>Indebt</b></h2>
    </div>

    <table class="table table-striped" style="background-color: white;">
        <thead class="thead-dark">
            <tr>
                {{!-- <th scope="col">#</th> --}}
                <th scope="col">Indebt</th>
                <th scope="col">Due Date</th>
                <th scope="col">Minimum Pay</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each indepts}}
            {{#if this.state}}
            {{else}}
            <tr>
                {{!-- <th scope="row">{{indept.indept_id}}</th> --}}
                <td>{{this.indept}}</td>
                <td>{{this.due_date}}</td>
                <td>{{this.minimum_pay}}</td>
                <td class="victim-btns">
                    <a href="/user/payment/{{indept_id}}" class="btn btn-primary">Thanh toán</a>
                </td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
        <tfoot>
      <tr>
        <td></td>
        <td>Tổng nợ:</td>
        <td id="pkprice">
          {{price}}
        </td>
        <td>
            <button type="button" class="btn btn-primary">
              Thanh toán
            </button>
        </td>
      </tr>
    </tfoot>
    </table>

</div>