<div class="mt-4">
    <h3>Manage History</h3>

    <h4>Status History</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Time</th>
                <th scope="col">Manager</th>
            </tr>
        </thead>
        <tbody>
            {{#each status_historys}}
            <tr>
                <th scope="row">{{this.status_history_id}}</th>
                <td>{{this.status}}</td>
                <td>{{this.time}}</td>
                <td>{{this.manager_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <br>

    <h4>Treatment History</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Treatment</th>
                <th scope="col">Time</th>
                <th scope="col">Manager</th>
            </tr>
        </thead>
        <tbody>
            {{#each treatment_historys}}
            <tr>
                <th scope="row">{{this.treatment_history_id}}</th>
                <td>{{this.treatment_id}}</td>
                <td>{{this.time}}</td>
                <td>{{this.manager_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>