<div class="container">

  <div style=" display: flex;
            align-items: center;
            justify-content: space-between;">
    <!-- Thêm người bệnh -->
 <a
    href="/manager/patient/create"
    class="navbar-item"
    style="display: block; width: 200px; margin: 20px 0"
  >THÊM NGƯỜI BỆNH</a>
   <a
    href="/manager/patient?page=1"
    class="navbar-item"
    style="display: block; width: 300px; margin: 20px 0"
  >DANH SÁCH NGƯỜI BỆNH</a>
   <a
    href="/manager/patient/KB?page=1"
    class="navbar-item"
    style="display: block; width: 300px; margin: 20px 0"
  >DANH SÁCH KHỎI BỆNH</a>
  </div>
  <div
    style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            margin-top: 20px;
          "
  >
    <div class="victim-category">

       <p>Sắp xếp giảm dần theo:</p>
      <form action="{{url}}" method="get" class="form-inline md-form" style=" display: flex;align-items: center;justify-content: space-around;flex:2">
         <select class="custom-select" name="filter" style="width: 200px;">
            <option >Lựa chọn</option>
            <option {{#compareString filter "full_name"}}selected{{/compareString}} value="full_name">Họ tên</option>
            <option {{#compareString filter "cccd"}}selected{{/compareString}} value="cccd">CMND/CCCD</option>
            <option {{#compareString filter "status"}}selected{{/compareString}} value="status">Trạng thái</option>
            <option {{#compareString filter "treatment_id"}}selected{{/compareString}} value="treatment_id">Nơi điều trị</option>
        </select>
        <button class="btn" style="background: #3fa4e2" type="submit">
          Sắp xếp
        </button>
      </form>
      
    </div>
    <div class="victim-search">
      <form method="get" action="/manager/patient/search" class="form-inline md-form">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Tìm kiếm theo tên/cccd"
          aria-label="Search"
          name="search"
        />
        <button class="btn" style="background: #3fa4e2" type="submit">
          Tìm kiếm
        </button>
      </form>
    </div>
  </div>

  <!-- Table -->
  <table class="table table-striped" style="background-color: #ffffff">
    <thead>
      <tr style="text-align: center">
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">CMND/CCCD</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Liên quan đến người</th>
        <th scope="col">Nơi điều trị</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each patients}}
        <tr>
          <th scope="row">{{person_id}}</th>
          <td>{{full_name}}</td>
          <td>{{cccd}}</td>
          <td>{{address}}</td>
          <td class="taC text-uppercase">{{status}}</td>
          <td class="taC">{{related_person}}</td>
          <td>{{treatment}}</td>
          <td class="victim-btns">
            <a href="/manager/patient/{{person_id}}" class="btn btn-primary">Chi tiết</a>
            <a href="/manager/patient/{{person_id}}/update" class="btn btn-success mT8">Cập nhật</a>
            <a href="/manager/patient/{{person_id}}/delete" class="btn btn-danger mT8">Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <!-- Pagination -->
  <nav class="pagination-outer" aria-label="Page navigation">
    <ul class="pagination">
      {{#forN totalPage}}
        {{#compareInt this ../page}}
          <li class="page-item active">
            <a class="page-link" href="/patient?page={{this}}">{{this}}</a>
          </li>
        {{else}}
          <li class="page-item"><a
              class="page-link"
              href="{{url}}?page={{this}}&filter={{../filter}}&search={{../search}}"
            >{{this}}</a></li>

        {{/compareInt}}
      {{/forN}}

    </ul>
  </nav>
</div>