<div class="container">
  <h2 style="color: #fff; margin-top: 20px; margin-right: auto">
    Thêm người liên quan Covid
  </h2>
  <form class="form-create-victim row" action="/manager/patient/{{patient.person_id}}/update" method="POST">
    <div class="col col-6">
      <div class="">
        <label class="flabel mb-1" for="name">Họ và tên</label><input
          class="form-control"
          type="text"
          name="full_name"
          required="required"
          value="{{patient.full_name}}"
        />
      </div>
      <div class="">
        <label class="flabel mb-1" for="cmt">Số CMT/CCCD</label><input
          class="form-control"
          type="text"
          name="person_id"
          required="required"
          placeholder="Số CMT/CCCD phải có từ 9-12 chữ số"
          value="{{patient.cccd}}"
        />
      </div>
      <div class="form-div">
        <label class="flabel mb-1" for="birth">Ngày sinh</label><input
          class="form-control"
          type="date"
          name="birthday"
          value="{{patient.birthday}}"
          required="required"
        />
      </div>
      <div class="form-div">
        <label class="flabel mb-1" for="sex">Trạng thái</label><select
          class="form-select"
          name="status"
        >

          <option value="F0" {{#compareString patient.status 'F0'}}selected {{/compareString}}>F0</option>
          <option value="F1" {{#compareString patient.status 'F1'}}selected {{/compareString}}>F1</option>
          <option value="F2" {{#compareString patient.status 'F2'}}selected {{/compareString}}>F2</option>
          <option value="KB" {{#compareString patient.status 'KB'}}selected {{/compareString}}>Khỏi bệnh</option>
        </select>
      </div>
    </div>
    <div class="col col-6">
      <div class="form-div">
        <label class="flabel mb-1" for="sex">Địa chỉ nơi ở</label><select
          class="form-select"
          name="address_id"
        >
          {{#each addresses}}
            <option {{#compareInt ../patient.address_id address_id }} selected{{/compareInt}} value={{address_id}}>{{xa}}-{{huyen}}-{{tinh}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-div">
        <label class="flabel mb-1" for="sex">Nơi đang điều trị</label><select
          class="form-select"
          name="treatment_id"
        >
          {{#each treatments}}
            <option {{#compareInt ../patient.treatment_id treatment_id }} selected{{/compareInt}} value={{treatment_id}}>{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-div">
        <label class="flabel mb-1">Liên quan đến người COVID</label><input
          class="form-control"
          type="text"
          name="person_related"
          placeholder="Nhập CMND/CCCD người COVID. Chưa rõ ghi 0"
          value="{{patient.related_person_cccd}}"
        />
      </div>

      <div class="d-flex justify-content-around" style="margin-top: 20px">
        <button class="btn btn-tung" type="submit">Lưu</button><a
          class="btn btn-tung"
          href="/nhan-khau"
        >Hủy</a>
      </div>
    </div>
  </form>
</div>