<div class="container container-details">
  <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 100px">
    <div>
      <h4>Họ và tên: {{patient.full_name}}</h4>
      <h4>Số CMND/CCCD: {{patient.cccd}}</h4>
      <h4>Ngày sinh:{{formatBirthday patient.birthday}}</h4>
      <h4>Trạng thái hiện tại: {{patient.status}}</h4>
      <h4>Liên quan đến người covid: {{patient.related_person}}</h4>
      <h4>Địa chỉ nơi ở: {{patient.address}}</h4>
      <h4>Nơi đang điều trị hiện tại: {{patient.treatment}}</h4>
    </div>
    <div>
      <h4>Lịch sử thay đổi nơi điều trị</h4>
      <ul style="padding: 0 60px; font-size: 20px">
        {{#each treatmentHis}}
          <li>
            <p>Địa chỉ: {{treatment_name}}</p>
            <p>Thời gian: {{formatTime time}}</p>
          </li>
        {{/each}}
      </ul>

      <h4>Lịch sử thay đổi trạng thái</h4>
      <ul style="padding: 0 60px; font-size: 20px">
        {{#each statusHis}}
          <li>
            <p>Trạng thái: {{status}}</p>
            <p>Thời gian: {{formatTime time}}</p>
          </li>
        {{/each}}

      </ul>

      <h4>Danh sách người liên quan</h4>
      <ul style="padding: 0 60px; font-size: 20px">
        {{#each relatedPersons}}
          <li>
            <p>Họ tên: {{full_name}}</p>
            <p>Birthday:
              {{#checkExists birthday}}
                {{formatBirthday birthday}}
              {{/checkExists}}</p>
            <p>CCCD: {{cccd}}</p>
          </li>
        {{/each}}

      </ul>
    </div>
  </div>
</div>