<div class="container">
  <!-- Thêm người bệnh -->
  <a
    href="/patient/create"
    class="navbar-item"
    style="display: block; width: 200px; margin: 20px 0"
  >THÊM NGƯỜI BỆNH</a>
  <div
    style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            margin-top: 20px;
          "
  >
    <div class="victim-category">
      <p>Sắp xếp theo:</p>
      <select class="custom-select" style="width: 100%">
        <option selected>Lựa chọn</option>
        <option value="1">Họ tên</option>
        <option value="2">CMND/CCCD</option>
      </select>
    </div>
    <div class="victim-search">
      <form class="form-inline md-form">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Tìm kiếm"
          aria-label="Search"
        />
        <button class="btn" style="background: #3fa4e2" type="submit">
          Tìm kiếm
        </button>
      </form>
    </div>
  </div>

  <!-- Table -->
  <table class="table table-striped" style="background-color: #ffffff">
    <thead>
      <tr style="text-align: center">
        <th scope="col">STT</th>
        <th scope="col">Họ tên</th>
        <th scope="col">CMND/CCCD</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Liên quan đến người</th>
        <th scope="col">Nơi điều trị</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each patients}}
        <tr>
          <th scope="row">{{person_id}}</th>
          <td>{{full_name}}</td>
          <td>{{cccd}}</td>
          <td>{{address}}</td>
          <td class="taC text-uppercase">{{status}}</td>
          <td class="taC">{{related_person}}</td>
          <td>{{treatment}}</td>
          <td class="victim-btns">
            <a href="/patient/1" class="btn btn-primary">Chi tiết</a>
            <a href="/patient/1/update" class="btn btn-success mT8">Cập nhật</a>
            <a href="/patient/1/delete" class="btn btn-danger mT8">Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- Pagination -->
  <nav class="pagination-outer" aria-label="Page navigation">
    <ul class="pagination">
      {{#forN totalPage}}
        {{#compareInt this ../page}}
          <li class="page-item active">
            <a class="page-link" href="/patient?page={{this}}">{{this}}</a>
          </li>
        {{else}}
          <li class="page-item"><a
              class="page-link"
              href="/patient?page={{this}}"
            >{{this}}</a></li>

        {{/compareInt}}
      {{/forN}}

    </ul>
  </nav>
</div>