<div class="container container-details">
  <div style="text-align: center; margin-bottom: 20px;">
    <h2><b>{{name}}</b></h2>
  </div>
  <form name="buyForm" action="/user/buy/1/detail" method="post">
  <table id="itable" class="table table-striped" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Giá</th>
        <th scope="col">Đơn vị</th>
        <th scope="col">Số lượng</th>
      </tr>
    </thead>
    
      <tbody>
        {{#each Items}}
        <tr>
          <th scope="row">{{this.item_id}}</th>
          <td>{{this.name}}</td>
          <td></td>
          <td>{{this.price}}</td>
          <td>{{this.unit}}</td>
          <td>
            <input type="number" {{#compareString this.unit 'kg' }} step="0.1" {{/compareString}}
              id="{{this.item_id}}_quantity" name="{{this.item_id}}_input" class="form-control ql" min="0"
              max="{{this.item_limit}}" value={{this.quantity}}>
          </td>
        </tr>
        {{/each}}
      </tbody>
    
    <tfoot>
      <tr>
        <td colspan="2">Tổng giá tiền:</td>
        <td colspan="3" id="pkprice">
          {{price}}
        </td>
        <td>
          <button type="button" class="btn btn-primary"
          data-toggle="modal" data-target="#buyModal">
            Mua
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
  </form>
</div>
</div>

<!-- Confirm buy modal -->
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="buyModalHead" class="modal-title">Mua hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="buyModalMsg" class="modal-body">
        Bạn có chắc chắn muốn mua gói nhu yêu phẩm với số lượng sản phẩm hiện tại?
      </div>
      <div class="modal-footer">
        <button id="btnBuy" type="button" class="btn btn-success">Mua</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

<script>
  $('body').on('change', '.ql', function() {
    let n = {{countItems}};

    let newprice = 0;

    for (let i = 0; i < n; i++) {
      let irow = document.getElementById("itable").rows[i+1];

      let iid = irow.cells.item(0).innerHTML;
      let iprice = irow.cells.item(3).innerHTML;
      let iquantity = document.getElementById(iid + "_quantity").value;

      newprice += iprice*iquantity;
    }

    $('#pkprice').text(newprice);
  });

  document.addEventListener('DOMContentLoaded', function () {
    var btnBuy = document.getElementById("btnBuy");
    var buyForm = document.forms['buyForm'];

    btnBuy.onclick = function() {
      let n = {{countItems}};
      let ids = [];

      for (let i = 0; i < n; i++) {
        let irow = document.getElementById("itable").rows[i+1];

        let iid = irow.cells.item(0).innerHTML;
        let iname = document.getElementById(iid + "_quantity").name;
        let iquantity = document.getElementById(iid + "_quantity").value;
        let imin = document.getElementById(iid + "_quantity").min;
        let imax = document.getElementById(iid + "_quantity").max;

        let checkitem = {
          id: iid,
          name: iname,
          quantity: iquantity,
          min: imin,
          limit: imax,
        };

        ids.push(checkitem);
      }

      console.log(ids);

      
      $.ajax({
        url: "/user/buy/1/detail",
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(ids), //stringify is important
      });


    }
  });
</script>