<div class="container">
  <div style=" display: flex; align-items: center;
                         justify-content: space-between;
                         margin-bottom: 16px; margin-top: 20px;">
    <div class="victim-category">
      <p>Sắp xếp theo:</p>
      <select class="custom-select" style="width: 100%">
        <option selected>Lựa chọn</option>
        <option value="1">Tên gói</option>
        <option value="2">Giá gốc</option>
      </select>
    </div>
    <div class="victim-search">
      <form class="form-inline md-form">
        <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm" aria-label="Search" />
        <button class="btn" style="background: #3fa4e2" type="submit">
          Tìm kiếm
        </button>
      </form>
    </div>
  </div>
  <table class="table table-striped" style="background-color: white;">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên gói</th>
        <th scope="col">Danh sách sản phẩm</th>
        <th scope="col">Giá gốc</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each Packages}}
      <tr>
        <th scope="row">{{this.package_id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.itemlist}}</td>
        <td>{{this.price}}</td>
        <td class="victim-btns">
          <a href="buy/{{this.package_id}}/detail" class="btn btn-primary">Chi tiết</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- Pagination -->
  <nav class="pagination-outer" aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a href="#" class="page-link" aria-label="Previous">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a href="#" class="page-link" aria-label="Next">
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </nav>
</div>