<div class="container">

  <div style=" display: flex;
            align-items: center;
            justify-content: space-between;">
    <!-- Thêm người bệnh -->

 <a
    href="/manager/packages/{{idPackage}}/addItem"
    class="navbar-item"
    style="display: block; width: 300px; margin: 20px 0"
  >THÊM NHU YẾU PHẨM VÀO GÓI</a>
 <a
    href="/manager/packages/{{idPackage}}/update-item"
    class="navbar-item"
    style="display: block; width: 300px; margin: 20px 0"
  >CẬP NHẬT GÓI</a>

  </div>
   <div id="toast">

  </div>
  <!-- Table -->
  <table class="table table-striped" style="background-color: #ffffff">
    <thead>
      <tr style="text-align: center">
        <th scope="col">ID</th>
        <th scope="col">Tên nhu yếu phẩm</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Giới hạn tối đa</th>
        <th scope="col">Điều chỉnh</th>
      </tr>
    </thead>
    <tbody>
     {{#each items}}
        <tr style="text-align: center">
          <th scope="row">{{item_id}}</th>
          <td>{{name}}</td>
          <td>{{quantity}}</td>
          <td>{{item_limit}}</td>
          <td class="victim-btns">
            <a href="/manager/package/{{item_id}}/detail" class="btn btn-primary">Chi tiết</a>
            

            <form action="/manager/packages/{{item_id}}/delete-item" method='GET'>
            <button  class="btn btn-danger mT8">Xóa</button>
             <input style ="display:none" value ="{{package_id}}"name="idPackage"/>
            </form>
            
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
    <a
    href="/manager/packages"
    class="navbar-item"
    style="display: block; width: 100px; margin: 20px 0"
  >Trở về</a>
</div>


{{#compareString add "success"}}
  <script>
    window.onload = function showAnnouncement() {
      showSuccessToast("Thêm nhu yếu phẩm thành công")
    }
  </script>
{{/compareString}}

{{#compareString add "failed"}}
  <script>
    window.onload = function showAnnouncement() {
      showErrorToast("Thêm nhu yếu phẩm thất bại")
    }
  </script>
{{/compareString}}

{{#compareString del "success"}}
  <script>
    window.onload = function showAnnouncement() {
      showSuccessToast("Xóa thành công")
    }
  </script>
{{/compareString}}

{{#compareString del "001"}}
  <script>
    window.onload = function showAnnouncement() {
      showErrorToast("Phải có ít nhất 2 sản phẩm")
    }
  </script>
{{/compareString}}

{{#compareString del "failed"}}
  <script>
    window.onload = function showAnnouncement() {
      showErrorToast("Xóa thất bại")
    }
  </script>
{{/compareString}}

